@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 


body {
    background-color: #333333;
  }
  .blog{
  float: right;
  margin-right: 64px;
  color: wheat;
  }
  h2.blogtitle {
    float: right;
  }
  p.blogtext {
    float: right;
    height: 124px;
    width: 914px;
    margin-top: 103px;
    text-align: right;
    
  }
  .sitetitle{
    padding-left: 47%;
    color: burlywood;
  }
  
  
  .headertop {
    height: 70px;
  }
 
  a {
    color: powderblue;
    text-decoration: none;
  }
