<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>API سایت گنجور</title>
</head>

<body>
    <header>

        <div>
            <h2 class="sitetitle">API گنجور</h2>
        </div>
    </header>

    <div class="blog">
        <h2 class="blogtitle">درباره</h2>
        <p class="blogtext" dir="rtl">
        
این API پایگاه اینترنتی <a href="http://ganjoor.net/">
    گنجور
    </a> است، که کمکتون می‌کنه در توسعه نرم‌افزار‌هاتون ازش استفاده کنید به طوری که می‌تونه یه سری شعر رو به صورت رندوم از یه شاعر خاص یا از بین همه‌ی شاعر‌ها بهتون پس بده، خروجی‌ پاسخ داده شما به درخواستی که به سرور می‌فرستید به صورت jsonify شده هست.، برای اطلاعات بیشتر از نحوه‌ی کار API می‌تونید فایل readme رو در <a href="https://github.com/nelforza/Ganjoor-API">
    گیت‌هاب
    </a>
     بخونید.    
        </p>
    </div>
</body>

</html>